body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

.Home .Home_button {
  margin-bottom: 20px;
  width: 400px;
  padding: 10px;
  display: block;
}

.SignIn .SignIn_input {
  margin-bottom: 20px;
  width: 400px;
  padding: 10px;
  display: block;
}

.SignIn .SignIn_button {
  width: 100%;
  padding: 10px;
  display: block;
  cursor: pointer;
}

.SignUp .SignUp_input {
  margin-bottom: 20px;
  width: 400px;
  padding: 10px;
  display: block;
}

.SignUp .SignUp_button {
  width: 100%;
  padding: 10px;
  display: block;
  cursor: pointer;
}

.Todo .Todo_input {
  width: 330px;
  padding: 10px;
  margin-right: 50px;
}

.Todo .Todo_button {
  width: 60px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.TodoItem .TodoItem_li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TodoItem .TodoItem_label {
  width: 260px;
  padding: 10px;
}

.TodoItem .TodoItem_span {
  width: 260px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

.TodoItem .TodoItem_button {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
